.smallDiv {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.testiminiDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
}
.testiminiDiv img {
  margin-top: 20px;
}
.testiminiDiv h1 {
  margin-top: 20px;
  font-size: 20px;
}
.testiminiDiv p {
  color: #2a363d;
}
.testiminiDiv p {
  color: #0000008a;
}
.testibigDiv {
  display: flex;
  padding: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
